@use "../../../../../shared-ui/src/styles/variables/spacing" as *;

.moonPhase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs;
}

.moonImage {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

