@use "../../../../../shared-ui/src/styles/variables/colors" as *;
@use "../../../../../shared-ui/src/styles/variables/typography" as *;
@use "../../../../../shared-ui/src/styles/variables/spacing" as *;

.weatherDisplay {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  padding: $spacing-xs;
}

.weatherIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.temperature {
  font-family: $font-thrifted;
  color: $text-orange;
  font-size: $font-size-sm;
}

