@use '../../variables' as *;
 
.mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #d5d9c2;
  padding: $spacing-lg;  

  &::after {
    position: absolute;
    top: $spacing-md;
    left: $spacing-md;
    right: $spacing-md;
    bottom: $spacing-md;
    border: 1px solid #b5b7a5;
    content: '';
    pointer-events: none;
  }

}